<Files ~ "^(bbs-main\.php|createcode\.cgi)$">
  # Apache 2.4+
  <IfModule mod_authz_core.c>
      Require all denied
  </IfModule>

  # Apache 2.2
  <IfModule !mod_authz_core.c>
      Order deny,allow
      Deny from all
  </IfModule>
</Files>
RewriteEngine on
RewriteRule ^read\.cgi/([^/]+)/([0-9]+)/([^/]*)$ /#$1/$2/$3 [R=301,L,NE]
RewriteRule bbs.cgi bbs.php
SetEnvIf Request_URI "bbs.php$" CONTENT_TYPE=application/x-www-form-urlencoded