<Files ~ "^(bbs-main\.php|createcode\.cgi)$">
  deny from all
</Files>
RewriteEngine on
RewriteRule ^read\.cgi/([^/]+)/([0-9]+)/$ /#$1/$2/ [R=301,L,NE]
RewriteRule bbs.cgi bbs.php
SetEnvIf Request_URI "bbs.php$" CONTENT_TYPE=application/x-www-form-urlencoded