<FilesMatch "\.html$">
Header set Content-Type 'text/html; charset=UTF-8'
</FilesMatch>
<FilesMatch "\.js$">
Header set Content-Type 'application/javascript; charset=UTF-8'
</FilesMatch>

# 特定フォルダへのアクセス拒否
RewriteEngine On
RewriteRule threads-states/ - [F,L]