body {
	font-family: ArialMT, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3";
	background-color: #fafafa;
	color: #000;
	font-size: 14px;
}
a {
	text-decoration: none;
	color: #1a98ff;
}
.threads {
	word-break: break-all;
	white-space: normal;
	border-bottom: .5px solid #DCDCDC;
	padding-bottom: 5px;
}
.t {
	color: #000 !important;
}
.right {
	right: 10px;
	position: absolute;
	color: #757a80;
	font-size: 10px;
}
.title {
	margin-left: 8px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-right: 2px;
}
.date {
	display: block;
	font-size: 80%;
	font-size: 10px;
}
.speed {
	color: #cc3d3d;
}
.modified {
	color: #ff9025;
}
.created {
	color: #ccc;
}
.m {
	text-align: center;
	margin-top: .5em;
	padding-bottom: .5em;
	color: #1a98ff !important;
}
.postbutton {
	z-index:1500;
	display: block !important;
	border: 0px solid black;
	right: 10px;
	bottom: 10px;
	position: fixed;
	margin-bottom: 10px;
	background: rgb(29, 155, 240);
	border-radius: 30px 30px 30px 30px;
	box-sizing: border-box;
	box-shadow: 5px 3px 2px rgba(0, 0, 0, .3);
}
.postbutton a {
	width: 3.5em;
	display: block;
	height: 3.5em;
	color: rgb(255, 255, 255);
}
.postopen {
	fill: currentcolor;
	width: 1.5em;
	height: 1.5em;
	padding: 13px 0px 0px 13px;
}
.postopen g {
	color: rgb(255, 255, 255);
}
path {
	color: rgb(255, 255, 255);
}
.new {
accent-color: auto;align-content: normal;align-items: center;animation-delay: 0s;animation-direction: normal;animation-duration: 0s;animation-fill-mode: none;animation-iteration-count: 1;animation-name: none;animation-play-state: running;animation-timing-function: ease;appearance: none;aspect-ratio: auto;backdrop-filter: none;backface-visibility: visible;background-attachment: scroll;background-blend-mode: normal;background-clip: border-box;background-color: rgb(29, 155, 240);background-image: none;background-origin: padding-box;background-position-x: 0%;background-position-y: 0%;background-repeat: repeat;background-size: auto;block-size: 19px;border-block-end-color: rgb(255, 255, 255);border-block-end-style: solid;border-block-end-width: 1px;border-block-start-color: rgb(255, 255, 255);border-block-start-style: solid;border-block-start-width: 1px;border-bottom-color: rgb(255, 255, 255);border-bottom-left-radius: 9999px;border-bottom-right-radius: 9999px;border-bottom-style: solid;border-bottom-width: 1px;border-collapse: separate;border-end-end-radius: 9999px;border-end-start-radius: 9999px;border-image-outset: 0;border-image-repeat: stretch;border-image-slice: 100%;border-image-source: none;border-image-width: 1;border-inline-end-color: rgb(255, 255, 255);border-inline-end-style: solid;border-inline-end-width: 1px;border-inline-start-color: rgb(255, 255, 255);border-inline-start-style: solid;border-inline-start-width: 1px;border-left-color: rgb(255, 255, 255);border-left-style: solid;border-left-width: 1px;border-right-color: rgb(255, 255, 255);border-right-style: solid;border-right-width: 1px;border-spacing: 0px 0px;border-start-end-radius: 9999px;border-start-start-radius: 9999px;border-top-color: rgb(255, 255, 255);border-top-left-radius: 9999px;border-top-right-radius: 9999px;border-top-style: solid;border-top-width: 1px;bottom: auto;box-decoration-break: slice;box-shadow: none;box-sizing: content-box;break-after: auto;break-before: auto;break-inside: auto;caption-side: top;caret-color: rgb(255, 255, 255);clear: none;clip: auto;clip-path: none;clip-rule: nonzero;color: rgb(255, 255, 255);color-interpolation: srgb;color-interpolation-filters: linearrgb;color-scheme: normal;column-count: auto;column-fill: balance;column-gap: normal;column-rule-color: rgb(255, 255, 255);column-rule-style: none;column-rule-width: 0px;column-span: none;column-width: auto;contain: none;contain-intrinsic-block-size: none;contain-intrinsic-height: none;contain-intrinsic-inline-size: none;contain-intrinsic-width: none;container-name: none;container-type: normal;content: normal;counter-increment: none;counter-reset: none;counter-set: none;cursor: pointer;cx: 0px;cy: 0px;d: none;direction: ltr;display: flex;dominant-baseline: auto;empty-cells: show;fill: rgb(0, 0, 0);fill-opacity: 1;fill-rule: nonzero;filter: none;flex-direction: row;flex-wrap: nowrap;float: none;flood-color: rgb(0, 0, 0);flood-opacity: 1;font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;font-feature-settings: normal;font-kerning: auto;font-language-override: normal;font-optical-sizing: auto;font-palette: normal;font-size: 10px;font-size-adjust: none;font-stretch: 100%;font-style: normal;font-synthesis-small-caps: auto;font-synthesis-style: auto;font-synthesis-weight: auto;font-variant-alternates: normal;font-variant-caps: normal;font-variant-east-asian: normal;font-variant-ligatures: normal;font-variant-numeric: normal;font-variant-position: normal;font-variation-settings: normal;font-weight: 700;height: 19px;hyphenate-character: auto;hyphens: manual;image-orientation: from-image;image-rendering: auto;ime-mode: auto;inline-size: 19px;inset-block-end: auto;inset-block-start: auto;inset-inline-end: auto;inset-inline-start: auto;isolation: auto;justify-content: center;left: auto;letter-spacing: normal;lighting-color: rgb(255, 255, 255);line-break: auto;line-height: 15px;list-style-image: none;list-style-position: outside;list-style-type: disc;margin-block-end: 0px;margin-block-start: 0px;margin-bottom: 0px;margin-inline-end: 0px;margin-inline-start: 11px;margin-left: 11px;margin-right: 0px;marker-end: none;marker-mid: none;marker-start: none;mask-clip: border-box;mask-composite: add;mask-image: none;mask-mode: match-source;mask-origin: border-box;mask-position-x: 0%;mask-position-y: 0%;mask-repeat: repeat;mask-size: auto;mask-type: luminance;max-block-size: none;max-height: none;max-inline-size: none;max-width: none;min-block-size: auto;min-height: auto;min-inline-size: 19px;min-width: 19px;mix-blend-mode: normal;object-fit: fill;object-position: 50% 50%;offset-anchor: auto;offset-distance: 0px;offset-path: none;offset-rotate: auto;opacity: 1;outline-color: rgb(255, 255, 255);outline-offset: 0px;outline-style: none;outline-width: 0px;overflow-anchor: auto;overflow-block: visible;overflow-clip-margin: 0px;overflow-inline: visible;overflow-wrap: break-word;overflow-x: visible;overflow-y: visible;overscroll-behavior-block: auto;overscroll-behavior-inline: auto;overscroll-behavior-x: auto;overscroll-behavior-y: auto;padding-block-end: 0px;padding-block-start: 0px;padding-bottom: 0px;padding-inline-end: 0px;padding-inline-start: 0px;padding-left: 0px;padding-right: 0px;padding-top: 0px;page: auto;paint-order: normal;perspective: none;perspective-origin: 10.5px 10.5px;pointer-events: auto;print-color-adjust: economy;quotes: auto;r: 0px;resize: none;rotate: none;row-gap: normal;ruby-align: space-around;ruby-position: alternate;rx: auto;ry: auto;scale: none;scroll-behavior: auto;scroll-margin-block-end: 0px;scroll-margin-block-start: 0px;scroll-margin-bottom: 0px;scroll-margin-inline-end: 0px;scroll-margin-inline-start: 0px;scroll-margin-left: 0px;scroll-margin-right: 0px;scroll-margin-top: 0px;scroll-snap-align: none;scroll-snap-stop: normal;scroll-snap-type: none;scrollbar-color: rgb(185, 202, 211) rgb(247, 249, 249);scrollbar-gutter: auto;scrollbar-width: auto;shape-image-threshold: 0;shape-margin: 0px;shape-outside: none;shape-rendering: auto;stop-color: rgb(0, 0, 0);stop-opacity: 1;stroke: none;stroke-dasharray: none;stroke-dashoffset: 0px;stroke-linecap: butt;stroke-linejoin: miter;stroke-miterlimit: 4;stroke-opacity: 1;stroke-width: 1px;tab-size: 8;text-align-last: auto;text-anchor: start;text-combine-upright: none;text-decoration-color: rgb(255, 255, 255);text-decoration-line: none;text-decoration-skip-ink: auto;text-decoration-style: solid;text-decoration-thickness: auto;text-emphasis-color: rgb(255, 255, 255);text-emphasis-position: over;text-emphasis-style: none;text-indent: 0px;text-justify: auto;text-orientation: mixed;text-rendering: auto;text-shadow: none;text-transform: none;text-underline-offset: auto;text-underline-position: auto;top: auto;touch-action: auto;transform: none;transform-box: border-box;transform-origin: 10.5px 10.5px;transform-style: flat;transition-delay: 0s;transition-duration: 0s;transition-property: all;transition-timing-function: ease;translate: none;unicode-bidi: isolate;user-select: none;vector-effect: none;visibility: visible;white-space: nowrap;will-change: auto;word-break: normal;word-spacing: 0px;writing-mode: horizontal-tb;x: 0px;y: 0px;z-index: auto;-moz-box-align: center;-moz-box-direction: normal;-moz-box-flex: 0;-moz-box-ordinal-group: 1;-moz-box-orient: horizontal;-moz-box-pack: center;-moz-float-edge: content-box;-moz-force-broken-image-icon: 0;-moz-image-region: auto;-moz-orient: inline;-moz-text-size-adjust: auto;-moz-user-focus: none;-moz-user-input: auto;-moz-user-modify: read-only;-moz-window-dragging: default;-webkit-line-clamp: none;-webkit-text-fill-color: rgb(255, 255, 255);-webkit-text-stroke-color: rgb(255, 255, 255);-webkit-text-stroke-width: 0px;text-align: right;position: absolute;right: 10px;margin-top: 12px;width: 3em;height: 1em;
}